/node_modules
/public/storage
/resources/views/vendor
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/css/
public/js/
public/fonts/

public/vendor
public/sitemap*
*.log
mysite*.xml
_ide_helper.php
.phpstorm.meta.php